*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    a{
        width: 10%;
        height: 5%;
        margin-top: 100px;
        background-color: rgb(255, 104, 104);
        border: none;
        border-radius: 10px;
        color: #fff;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .postsArea{
        width: 100%;
        height: 70%;
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;


        .postCard{
            width: 30%;
            height: 80%;
            border: 1px solid #333;
            margin-bottom: 20px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-size: 18px;
           
        }
    }
}